body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  border: 1px solid darkgray;
  margin: 0 2rem;
}
th, td { 
  padding: 0.2rem 1rem;
}
th.category { width: 10rem }
th.products { width: 10rem }
th.instock { width: 10rem }
td.right { text-align: right; width: 5rem; }
td.title, td.brand { width: 10rem; }
td.description { width: 20rem }

img { max-height:85px; min-height:85px; margin-right: 1rem }

label { margin-top: 0.5rem; font-weight: 600 ;}

.fileinput {
  padding:0.5rem 1rem;
  background-color: #0060df;
  color: white;
  border:none;
  border-radius: 5px;
}